@charset "utf-8";

/* ======================================================
   .msec-visual
=========================================================*/
.msec-visual{position:relative;}
.visual-slide{ position:Relative;text-align:center;}
.visual-slide .item{position:relative;background:#f6f6f8 url(../img/main/mvisual-img01.jpg-) no-repeat center bottom; /* background-size:cover; */}
.visual-slide .item.c01{}
.visual-slide .item .ov{max-width:1000px; margin:0 auto; position:relative; height:700px;}
.visual-slide .item .img{width:730px;position:absolute; right:130px; bottom:15px; margin:0 auto;}
.visual-slide .item .img img{width:100%;}
.visual-slide .item .txt{position:absolute; left:50%; top:50px; width:100%; max-width:1000px;box-sizing:border-box; padding:0 20px;-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%);-ms-transform: translateX(-50%); -o-transform:  translateX(-50%);transform: translateX(-50%);}
.visual-slide .item .txt .btxt{font-size:36px; color:#e55537;letter-spacing: -0.03em; font-weight:700; letter-spacing:-0.04em; line-height:1.2em;}
.visual-slide .item .txt .btxt span{}
.visual-slide .item .txt .stxt{margin-top:9px;font-size:50px;  font-family: 'Rix'; color:#333;font-weight:500; letter-spacing:-0.03em; line-height:1.1em;}
.visual-slide .item .txt .stxt span{}
.visual-slide .item .txt .stxt span.cyellow{color:#f6ff6a;}
.visual-slide .item .txt .stxt span.cgreen{color:#c1ffb7;}
.visual-slide .item .txt .ctxt{margin-top:25px;font-size:30px; font-weight:400; color:#585763; line-height:1.45em; letter-spacing:-0.03em;}
.visual-slide .item .txt .ctxt span{color:#585763; font-weight:700;}

.visual-slide .desktop{display:block;}
.visual-slide .mobile{display:none;}

	@media only screen and (max-width:1200px) {
		.visual-slide .item .ov{height:600px;}
		.visual-slide .item .img{width:520px;  right:230px;}
		.visual-slide .item .txt{top:80px}
		.visual-slide .item .txt .btxt{font-size:28px}
		.visual-slide .item .txt .stxt{font-size:40px;}
		.visual-slide .item .txt .ctxt{margin-top:20px;font-size:18px;}
	} 
	@media only screen and (max-width:999px) {
		.visual-slide .item .ov{height:500px;}
		.visual-slide .item .img{width:460px; right:150px;}
		.visual-slide .item .txt{top:100px}
		.visual-slide .item .txt .btxt{font-size:24px}
		.visual-slide .item .txt .stxt{font-size:30px;}
		.visual-slide .item .txt .ctxt{font-size:17px;}
	} 
	@media only screen and (max-width:768px) {
		.visual-slide .item .txt{top:70px}

	} 
	@media only screen and (max-width:680px) {
		.visual-slide .item{background:#f6f6f8;}
		.visual-slide .item .ov{height:500px;}
		.visual-slide .item .ov{height:auto;}
		.visual-slide .item .img{width:100%; right:auto; bottom:auto; position:relative; ;}
		.visual-slide .item .txt{top:80px}
		.visual-slide .item .txt .btxt{font-size:20px}
		.visual-slide .item .txt .stxt{font-size:30px;}
		.visual-slide .item .txt .ctxt{margin-top:10px;font-size:15px;}

		.visual-slide .mobile{display:block;}
		.visual-slide .desktop{display:none;}
	} 

	@media only screen and (max-width:580px) {
		.visual-slide .item .ov{height:400px;}
		.visual-slide .item .img{width:350px;text-align:center; right:0px; top:160px;} 
		.visual-slide .item .txt{top:40px}
		.visual-slide .item .txt .btxt{font-size:18px}
		.visual-slide .item .txt .stxt{font-size:30px;}
		.visual-slide .item .txt .ctxt{font-size:14px;}
	} 
	@media only screen and (max-width:480px) {
		.visual-slide .item .ov{height:400px;}
		.visual-slide .item .img{width:350px;text-align:center; right:0px; top:160px;} 
		.visual-slide .item .txt{top:40px}
		.visual-slide .item .txt .btxt{font-size:18px}
		.visual-slide .item .txt .stxt{font-size:30px;}
		.visual-slide .item .txt .ctxt{font-size:14px;}
	} 
	@media only screen and (max-width:420px) {
		.visual-slide .item .txt .stxt{font-size:30px;}
		.visual-slide .item .img{width:320px; }

	}


.msec-visual .icon-down{opacity:0;visibility:hidden;position:absolute;right:70px;bottom:70px;display:block;padding-left:10px;transition:opacity .3s; z-index:932;}
.msec-visual .icon-down.on{opacity:1;visibility:visible;transition-delay:1.5s}
.msec-visual .icon-down i{position:relative;display:block;font-size:0;line-height:0;text-indent:-999em;}
.msec-visual .icon-down i:before{content:"";display:block;width:5px;height:57px;background:#e45536;animation:elasticus 1.5s cubic-bezier(0.8, 0.2, 0.2, 0.8) infinite;margin:0 auto;}
.msec-visual .icon-down i:after{content:"";display:block;width:21px;height:21px;border-top:5px solid #e45536;border-right:5px solid #e45536;transform:rotate(135deg);padding:0;margin:-24px auto 0}
	
	@media only screen and (max-width:1560px) {	
		.msec-visual .icon-down{right:60px; bottom:60px;}
		.msec-visual .icon-down i{}
		.msec-visual .icon-down i:before{width:3px;height:45px}
		.msec-visual .icon-down i:after{width:17px; height:17px; border-top-width:3px; border-right-width:3px; margin-left:-1px;}
	}
	@media only screen and (max-width:1300px) {
		
	}
	@media only screen and (max-width:999px) {
		.msec-visual .icon-down{right:50px; bottom:50px;}
		
	}
	@media only screen and (max-width:680px) {
		.msec-visual .icon-down{right:35px; bottom:35px;transform:scale(0.8, 0.8); -webkit-transform:scale(0.8, 0.8); -moz-transform:scale(0.8, 0.8); -ms-transform:scale(0.8, 0.8);}
	}
	@media only screen and (max-width:480px) {
		.msec-visual .icon-down{right:20px; bottom:20px;}
	}	

	@keyframes elasticus {
		0% {
			transform-origin:0% 0%;
			transform:scale(1, 0);
		}
		50% {
			transform-origin:0% 0%;
			transform:scale(1, 1);
		}
		50.1% {
			transform-origin:0% 100%;
			transform:scale(1, 1);
		}
		100% {
			transform-origin:0% 100%;
			transform:scale(1, 0);
		}
	}






/* ======================================================
   .msec-01
=========================================================*/
.msec-01{padding:80px 100px 100px; position:relative;}
.msec-01:after{background:#e55537; position:absolute; left:50%; width:20000px; top:0 ; height:100%; z-index:-1; display:block ;content:""; z-index:-1; margin-left:-10000px;}
.msec-01 .tits{text-align:center; }
.msec-01 .tits h3{font-size:44px;line-height:1.2em;color:#fff; font-weight:700; letter-spacing:-0.03em;margin-top:10px;}
.msec-01 .tits p{font-size:24px;line-height:1.3em;color:rgba(255,255,255,1); font-weight:400; letter-spacing:-0.03em; word-break: keep-all;}

.msec-01 .con{margin-top:50px;position:relative;}
.msec-01 .con ul{margin:0 -10px;}
.msec-01 .con ul:after{display:block; content:"";clear:both;}
.msec-01 .con li{float:left; width:calc(16.6666% - 20px ); margin:0 10px;}
.msec-01 .con li:nth-child(n+7){margin-top:2%;}
.msec-01 .con li a{border:1px solid rgba(255,255,255,0.5); background:rgba(255,255,255,1); display:block; min-height:270px; border-radius:30px; box-sizing:border-box; padding:40px 30px 0 30px; position:relative;-webkit-transition: background 0.3s ease-out, transform 0.3s ease-out;-moz-transition: background 0.3s ease-out, transform 0.3s ease-out;-o-transition: background 0.3s ease-out, transform 0.3s ease-out;transition: background 0.3s ease-out, transform 0.3s ease-out;}
.msec-01 .con li .txt{position:relative; z-index:5;}
.msec-01 .con li .btxt{font-size:26px; color:#000; font-weight:700; line-height:1.2em; -webkit-transition: color 0.3s ease-out;-moz-transition: color 0.3s ease-out;-o-transition: color 0.3s ease-out;transition: color 0.3s ease-out;}
.msec-01 .con li .stxt{margin-top:17px;font-size:15px; color:#333; font-weight:400; line-height:1.55em; letter-spacing:-0.03em; max-height:70px; /*overflow:hidden; word-break: keep-all;*/ }
.msec-01 .con li .ctxt{margin-top:40px;font-size:15px; color:#777;font-weight:400; line-height:1.8em;}
.msec-01 .con li .ctxt span{font-size:30px; color:#e45536;font-weight:500;}
.msec-01 .con li a:hover{-webkit-transform: translateY(-2%); -moz-transform: translateY(-2%);-ms-transform: translateY(-2%); -o-transform:  translateY(-2%);transform: translateY(-2%);box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2)  ; -webkit-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2)  ; -moz-box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2)  ;}

.msec-01 .con li a:after{width:60px;height:60px; position:absolute; right:28px; bottom:28px; display:block; content:""}
.msec-01 .con li:nth-child(1) a:after{background:url(../img/main/msec01-ico01.png) no-repeat center center;}
.msec-01 .con li:nth-child(2) a:after{background:url(../img/main/msec01-ico02.png) no-repeat center center;}
.msec-01 .con li:nth-child(3) a:after{background:url(../img/main/msec01-ico03.png) no-repeat center center;}
.msec-01 .con li:nth-child(4) a:after{background:url(../img/main/msec01-ico04.png) no-repeat center center;}
.msec-01 .con li:nth-child(5) a:after{background:url(../img/main/msec01-ico05.png) no-repeat center center;}
.msec-01 .con li:nth-child(6) a:after{background:url(../img/main/msec01-ico06.png) no-repeat center center;}

.msec-01 .con li:nth-child(1) a:hover:after{background-image:url(../img/main/msec01-ico01o.png);}
.msec-01 .con li:nth-child(2) a:hover:after{background-image:url(../img/main/msec01-ico02o.png);}
.msec-01 .con li:nth-child(3) a:hover:after{background-image:url(../img/main/msec01-ico03o.png);}
.msec-01 .con li:nth-child(4) a:hover:after{background-image:url(../img/main/msec01-ico04o.png);}
.msec-01 .con li:nth-child(5) a:hover:after{background-image:url(../img/main/msec01-ico05o.png);}
.msec-01 .con li:nth-child(6) a:hover:after{background-image:url(../img/main/msec01-ico06o.png);}

.msec-01 .con li a:hover{background:#fff; border-color:#fff;}
.msec-01 .con li a:hover .btxt{color:#e45536}
.msec-01 .con li a:hover .stxt{color:#111}
.msec-01 .con li a:hover .ctxt{color:#111}

.msec-01 .msec-abc{z-index:1452; position:relative;}	
	@media only screen and (max-width:1440px) {
		.msec-01 .tits h3{font-size:37px}
		.msec-01 .tits p{margin-top:10px;font-size:15px;}
		
		.msec-01 .con li a{padding:30px 30px 0 30px;}
		.msec-01 .con li a:after{width:60px;height:60px; background-size:100% auto !important; right:20px; bottom:20px;}
		.msec-01 .con li .btxt{font-size:22px;}
		.msec-01 .con li .stxt{margin-top:15px;font-size:14px; max-height:65px;}
		.msec-01 .con li .ctxt{margin-top:30px;font-size:14px;}
	}
	@media only screen and (max-width:1240px) {
		.msec-01{padding:70px 20px 70px;}
		.msec-01 .con ul{margin:0 -5px;}
		.msec-01 .con li{float:left; width:calc(16.6666% - 10px ); margin:0 5px;}
		.msec-01 .con li a{padding:20px 10px 0 10px; border-radius:20px; min-height:220px;}
		.msec-01 .tits h3{font-size:30px}
		.msec-01 .con li .btxt{font-size:18px;letter-spacing: -0.05em}
		.msec-01 .con li .stxt br{display:none;}
		.msec-01 .con li a:after{width:40px;height:40px; background-size:100% auto !important; right:10px; bottom:20px;}
		.msec-01 .con li .ctxt span{font-size:24px; }
	}
	@media only screen and (max-width:999px) {
		.msec-01{height:auto; padding:70px 0;}
		.msec-01 .tits h3{font-size:28px}
		.msec-01 .tits p{margin-top:10px;font-size:14px;}
		
		.msec-01 .con ul{margin:0 -1%}
		.msec-01 .con li{float:left; width:48%; margin:0 1%; }
		.msec-01 .con li:nth-child(n+3){margin-top:2%;}
		.msec-01 .con li a{padding:25px 20px 0 20px; min-height:220px;}
		.msec-01 .con li a:after{width:50px;height:50px; }
		.msec-01 .con li .btxt{font-size:18px;}
		.msec-01 .con li .stxt{margin-top:14px;}
		.msec-01 .con li .ctxt{margin-top:25px;}
	} 
	@media only screen and (max-width:999px) {
		.msec-01{padding:70px 20px;}
		.msec-01 .con li a{ min-height:180px;}
		.msec-01 .con li .ctxt{margin-top:15px;}
	}
	@media only screen and (max-width:680px) {
		.msec-01 .tits h3{font-size:27px}
		.msec-01 .con{margin-top:25px;}
		
		.msec-01 .con li a{min-height:240px;  border-radius:20px; }
		.msec-01 .con li a:after{width:40px;height:40px; }
		.msec-01 .con li .btxt{font-size:18px;}
		.msec-01 .con li .stxt{font-size:15px; line-height:1.2em;}
		
		.msec-01 .con li .ctxt{font-size:13px;}

		.msec-01 .con li a:hover{-webkit-transform: translateY(0); -moz-transform: translateY(0);-ms-transform: translateY(0); -o-transform:  translateY(0);transform: translateY(0);}

	} 
	@media only screen and (max-width:480px) {
		.msec-01{padding:50px 15px;}
		.msec-01 .con ul{margin:0}
		/*.msec-01 .con li{float:none; width:auto; margin:0; }
		.msec-01 .con li:nth-child(n+2){margin-top:2%;}*/
		.msec-01 .con li a{min-height:220px}
		
	} 




/* ======================================================
   .msec-02
=========================================================*/
.msec-02{padding:100px 0 0px; background:#f4f5f8; background:url(../img/main/msec02-bg.jpg) no-repeat center top; text-align:center;  }
.msec-02 .tits{text-align:center}
.msec-02 .tits img{width:100%; max-width:1500px; min-width:190px;}

.msec-02 .tits h3{font-size:44px;line-height:1.2em;color:#e45536; font-weight:700; letter-spacing:-0.03em;margin-top:20px;}
.msec-02 .tits p{font-size:24px;line-height:1.3em;color:#333; font-weight:700; letter-spacing:-0.03em; }

.msec-02 .tits a{margin-top:40px;width:400px;height:80px; display:inline-block;vertical-align:top; line-height:80px; font-size:24px; font-weight:700; color:#fff; letter-spacing:-0.03em; text-align:center; background:#e45536; border-radius:80px; }
.msec-02 .tits a span{ position:relative; display:inline-block;vertical-align:top}
.msec-02 .tits a span:after{width:28px;height:24px; position:absolute; right:0; top:50%; margin-top:-12px; background:url(../img/main/msec08-arrow.png) no-repeat right center; display:block ;content:"";transition:transform 1s cubic-bezier(.33,.02,0,.93)}
.msec-02 .tits a:hover span:after{transform:translateX(7px);background-image:url(../img/main/msec06-arrow.png)}
.msec-02 .tits a:hover{background:#e45536;  color:#fff;}



.msec-02 .cont{padding:150px 0px 50px;}
.msec-02 .cont img{width:100%; border-radius: 20px;}

.msec-02 .cont .swiper-slide:nth-child(2n+2) { margin-top:30px;}

	@media only screen and (max-width:1600px) {	
		.msec-02{padding:200px 0;}
		.msec-02 .cont{margin-top:100px;}
		.msec-02 .tits h3{font-size:60px;}
	}
	@media only screen and (max-width:1400px) {	
		.msec-02{padding:100px 0;}
		.msec-02 .cont{margin-top:90px;}
		.msec-02 .tits h3{font-size:40px;padding-left: 20px;}
	}
	@media only screen and (max-width:1280px) {
		.msec-02{padding:80px 0 50px;}
		.msec-02 .cont{margin-top:0px;}
		.msec-02 .tits img{width:86%; max-width:600px;}
		.msec-02 .tits h3{font-size:30px;}
		.msec-02 .tits a{margin-top:20px; width:360px;height:70px; line-height:70px; font-size:22px; border-radius:70px; }
		.msec-02 .cont{padding:70px 0px 50px;}
	}
	@media only screen and (max-width:999px) {
		.msec-02{padding:80px 0;}
		.msec-02 .cont{}
		.msec-02 .tits h3{font-size:30px; padding-left: 20px;}
	}
	@media only screen and (max-width:768px) {
		.msec-02{padding:80px 0 0px;}
	}
	@media only screen and (max-width:680px) {
		.msec-02{padding:50px 0; background:url(../img/msec06-bg-m.jpg) no-repeat center bottom;}
		.msec-02 .cont{margin-top:40px; padding-right:90px;}
		.msec-02 .cont .swiper-container {overflow:visible}

		.msec-02 .tits p{font-size:18px; }
		.msec-02 .cont{padding:20px 0px 50px;}

	}
	@media only screen and (max-width:480px) {
		
		.msec-02 .tits img{width:70%; }
		.msec-02 .tits h3{font-size:24px; padding-left: 20px;}
		.msec-02 .cont img{border-radius: 15px;}
		.msec-02 .tits a{margin-top:20px;width:300px;height:60px;  line-height:60px; font-size:20px;  border-radius:60px; }
	}





/*=======================================================
  .msec-03
=========================================================*/
.msec-03{padding:150px 20px; position:relative;background:#fff;}
.msec-03 .tits{text-align:center; }
.msec-03 .tits h3{font-size:44px;line-height:1.2em;color:#3b3e4d; font-weight:700; letter-spacing:-0.03em;}
.msec-03 .tits p{margin-top:12px;font-size:16px;line-height:1.3em;color:rgba(255,255,255,0.5); font-weight:300; letter-spacing:-0.03em; word-break: keep-all;}

.msec-03 .con{margin-top:50px;position:relative; width:1260px; margin:0 auto;}

.msec-03 .con ul{ margin:0 -20px; margin-top:70px;display:flex;display:-webkit-flex;  flex-wrap:wrap;  -webkit-flex-wrap:wrap;}
.msec-03 .con ul:after{display:block; content:"";clear:both}
.msec-03 .con li{float:left; width:calc(33.333333% - 40px); margin:0 20px;  /*display:flex; display:-webkit-flex; */ }
.msec-03 .con li a{display:block; background:#f1f9ff; padding:40px; border-radius:30px;min-height:265px; width:100%; box-sizing:border-box;  position:relative;-webkit-transition: box-shadow 0.3s ease-in-out;-moz-transition: box-shadow 0.3s ease-in-out;-o-transition: box-shadow 0.3s ease-in-out;transition: box-shadow 0.3s ease-in-out;}
/*.msec-03 .con li a:hover{box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2)  ; -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2)  ; -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2)  ; }*/
.msec-03 .con li a:before{position:absolute; right:40px; bottom:40px; width:90px; height:90px; display:block ;content:""}
.msec-03 .con li a .btxt{font-size:28px ;font-weight:700; letter-spacing:-0.04em; line-height:1.4em; color:#000;}
.msec-03 .con li a .stxt{margin-top:20px;font-size:18px ;font-weight:400; letter-spacing:-0.03em; line-height:1.5em; color:#555;}

.msec-03 .con li:nth-child(1) a:before{background:url(../img/main/msec03-ico01.png) no-repeat center top; background-size:auto 100%;}
.msec-03 .con li:nth-child(2) a:before{background:url(../img/main/msec03-ico02.png) no-repeat center top; background-size:auto 100%;}
.msec-03 .con li:nth-child(3) a:before{background:url(../img/main/msec03-ico03.png) no-repeat center top; background-size:auto 100%;}

	@media only screen and (max-width:1480px){	
		.msec-03 .con .tits h3{font-size:32px;}
		.msec-03 .con .tits p{font-size:18px ;}
		.msec-03 .con .tits p br{display:none;}
		
		.msec-03 .con  ul{ margin:0 -5px; margin-top:50px;}
		.msec-03 .con  li{width:calc(33.3333% - 10px); margin:0 5px;}
		.msec-03 .con  li a{padding:30px; min-height:240px;}
		.msec-03 .con  li a:before{width:60px;height:60px; right:20px; bottom:20px; }
		.msec-03 .con  li a .btxt{font-size:26px }
		.msec-03 .con  li a .stxt{margin-top:17px;font-size:17px ;}
	}
	@media only screen and (max-width:1280px) {
		
		.msec-03{padding:50px 20px;}
		.msec-03 .con{margin-top:30px; width:100%; }
		.msec-03 .tits h3{font-size:30px;}
		.msec-03 .con  li a{padding:20px; min-height:170px;}
		.msec-03 .con  li a:before{width:50px;height:50px; right:20px; bottom:20px; }
		.msec-03 .con  li a .btxt{font-size:24px }
	}
	@media only screen and (max-width:1185px) {
		
	}
	@media only screen and (max-width:999px){
		.msec-03 .con{}
		.msec-03 .con .tits {padding-left:0;}
		.msec-03 .con .tits h3{font-size:28px; position:relative; left:auto; top:auto; margin-bottom:20px;}
		.msec-03 .con .tits p{font-size:16px ;}

		.msec-03 .con  ul{margin:0;margin-top:30px; display:block;}
		/*.msec-03 .con  li{width:auto; float:none; display:block; margin:0;} 
		.msec-03 .con  li:nth-child(n+4){margin-top:20px;}*/
		.msec-03 .con  li a{border-radius:15px;padding:20px; min-height:170px;}
		.msec-03 .con  li a:before{width:50px;height:50px;}
		.msec-03 .con  li a .btxt{font-size:22px }
		.msec-03 .con  li a .stxt{margin-top:15px;font-size:16px ;}
	}
	@media only screen and (max-width:680px){
		.msec-03 .con .tits h3{font-size:24px; margin-bottom:15px;}
		.msec-03 .con .tits p{font-size:15px ;}
		
		.msec-03 .con  ul{ margin:0 ; margin-top:30px; display:block;}
		/*.msec-03 .con  li{width:auto; float:none; display:block; margin:0;} 
		.msec-03 .con  li:nth-child(n+4){margin-top:20px;}*/
		.msec-03 .con  li a{border-radius:10px;padding:20px; min-height:200px;}
		.msec-03 .con  li a:before{width:40px;height:40px;}
		.msec-03 .con  li a .btxt{font-size:20px }
		.msec-03 .con  li a .stxt{margin-top:10px;font-size:15px ;}

		.msec-03 .tits h3{font-size:27px;}

	}
	@media only screen and (max-width:480px){
		.msec-03{padding:0px 15px;}
		.msec-03 .con{margin-top:30px; width:100%; }
		.msec-03 .con .tits h3{font-size:22px;margin-bottom:10px;}
		.msec-03 .con .tits p{font-size:14px ;}
		
		.msec-03 .con  li:nth-child(n+4){margin-top:10px;}
		.msec-03 .con  li a{ min-height:140px;padding:15px 5px; text-align:center; }
		.msec-03 .con  li a .btxt{font-size:17px }
		.msec-03 .con  li a .stxt{margin-top:10px;font-size:14px ;}
		.msec-03 .con  li a .stxt br{display:none;}
		.msec-03 .tits h3{font-size:24px;}


		.msec-03 .con  li a:before{display:none;}
	}
	


/* ======================================================
   .msec-04
=========================================================*/
.msec-04{padding:100px 0px; position:relative;}
.msec-04:after{background:#eeeff5; position:absolute; left:50%; width:20000px; top:0 ; height:100%; z-index:-1; display:block ;content:""; z-index:-1; margin-left:-10000px;}
.msec-04 .tits{text-align:center;}
.msec-04 .tits h3{font-size:44px; font-weight:700; color:#3b3e4d; letter-spacing:-0.03em; line-height:1.3em;}
.msec-04 .tits h3 span{ color:#1a68fc;}

.msec-04 .cont{max-width:1260px; margin:0 auto;  box-sizing:border-box;margin-top:50px}
.msec-04 .cont .img{width:100%;height:100%;}
.msec-04 .cont .img img{width:100%;object-fit:cover; height:auto;}

.msec-04 .cont .desktop{display:block;}
.msec-04 .cont .mobile{display:none;}
	@media only screen and (max-width:1240px) {	
		.msec-04{}
		.msec-04 .tits h3{font-size:30px;}
		.msec-04 .tits p{font-size:18px; margin-top:20px}

		.msec-04 .cont{margin-top:70px;}
	}
	@media only screen and (max-width:1100px) {
		.msec-04{margin-top:50px;}
	}
	@media only screen and (max-width:999px) {
		.msec-04{}
		.msec-04 .tits{padding:0 25px;}
		.msec-04 .tits h3{font-size:30px;}
		.msec-04 .tits p{font-size:16px; margin-top:20px; padding:0 10px; line-height:1.6em;}

		.msec-04 .cont{margin-top:50px;}

		
	}	
	@media only screen and (max-width:680px) {
		.msec-04{margin-top:50px; padding:50px 0px; }
		.msec-04 .tits h3{font-size:27px;}
		.msec-04 .tits p{margin-top:12px;font-size:15px;}

		.msec-04 .cont{margin-top:30px;}

		.msec-04 .cont .mobile{display:block;}
		.msec-04 .cont .desktop{display:none;}

		
	}
	@media only screen and (max-width:480px) {	
		.msec-04 .tits h3{font-size:24px;}
		.msec-04 .tits p{margin-top:10px;font-size:14px; }
		
	}


/* ======================================================
   .msec-05
=========================================================*/
.msec-05{position:relative;padding:100px 0 140px;background:#fff}
.msec-05 .tits{text-align:center;}
.msec-05 .tits h3{font-size:44px; font-weight:800; color:#000; letter-spacing:-0.03em; line-height:1.3em; padding-top: 120px;  background: url(../img/main/msec05-img01.png) no-repeat center top;}
.msec-05 .cont{max-width:1240px; margin:0 auto; padding:0 10px; margin-top:70px; box-sizing:border-box;}
.msec-05 .cont ul{margin:0 -15px;}
.msec-05 .cont ul:after{display:block; content:"";clear:both}
.msec-05 .cont li{float:left; width:calc(33.33333% - 30px); margin:0 15px; text-align:left;}
.msec-05 .cont li:nth-child(n+4){margin-top:30px}
.msec-05 .cont li a{border-radius:30px; height:70px; display:block;position:relative;overflow:hidden; /*box-sizing:border-box;*/ padding:50px 30px;background:#e45536; box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.01); -webkit-box-shadow:3px 6px 15px rgba(0, 0, 0, 0.01); -moz-box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.01) ; }
.msec-05 .cont li .user{position:relative; padding-left:70px;min-height:100px;}
.msec-05 .cont li .user .img{position:absolute ;left:0; top:0; width:54px; height:54px; overflow:hidden; /*border-radius:100%*/}
.msec-05 .cont li .user .img img{width:100%;height:54px;object-fit:cover;}
.msec-05 .cont li .user .nick{font-size:23px; font-weight:500; color:#fff; letter-spacing:-0.03em; line-height:1.3em;}
.msec-05 .cont li .user .nick span{font-size:20px;  color:#fff; display:block ; margin-top:4px;}
.msec-05 .cont li .txt{min-height:95px ;margin-top:25px;}
.msec-05 .cont li .txt p{font-size:16px; line-height:1.6em; color:#666; letter-spacing:-0.03em; overflow: hidden; text-overflow: ellipsis;  display: -webkit-box;   -webkit-line-clamp: 4; -webkit-box-orient: vertical;}
	@media only screen and (max-width:1240px) {	
		.msec-05{ padding:100px 0}
		.msec-05 .tits h3{font-size:30px;}
		
		.msec-05 .cont{margin-top:60px;}
		.msec-05 .cont li a{ height:auto; border-radius:20px; padding:30px 20px;}
		.msec-05 .cont li .user .nick{font-size:18px;}
		.msec-05 .cont li .user .nick span{font-size:18px;}
		.msec-05 .cont li .txt{min-height:85px ;margin-top:20px;}
		.msec-05 .cont li .txt p{font-size:15px;}
		.msec-05 .cont li .txt p br{display:none;}

		.msec-05 .cont li .user{padding-left:60px;min-height:60px;}
	}
	@media only screen and (max-width:1100px) {
		.msec-05{padding:90px 0}
		
	}
	@media only screen and (max-width:999px) {
		.msec-05{padding:80px 0}
		.msec-05 .tits h3{font-size:30px;}
		.msec-05 .cont{margin-top:50px;}
		.msec-05 .cont ul{margin:0 -10px;}
		.msec-05 .cont li{width:calc(33.33333%  - 10px); margin:0 5px;}
		.msec-05 .cont li:nth-child(n+4){margin-top:20px}
		.msec-05 .cont li a{ height:50px; border-radius:20px; padding:20px 10px;}
		.msec-05 .cont li .user{padding-left:45px; min-height:50px}
		.msec-05 .cont li .user .img{width:40px;height:40px;}
		.msec-05 .cont li .user .img img{height:40px;}
		.msec-05 .cont li .user .nick{font-size:16px;}
		.msec-05 .cont li .user .nick span{font-size:16px;}
		.msec-05 .cont li .txt{min-height:80px ;margin-top:20px;}
		.msec-05 .cont li .txt p{font-size:14px;}

	}
	@media only screen and (max-width:680px) {
		.msec-05{padding:60px 0}
		.msec-05 .tits h3{font-size:28px;}
		.msec-05 .cont{margin-top:40px;}
		.msec-05 .cont ul{margin:0;}
		/*.msec-05 .cont li{width:auto; margin:0;}
		.msec-05 .cont li:nth-child(n+2){margin-top:20px}*/
		.msec-05 .cont li a{ height:70px; padding:15px; text-align:center; }
		.msec-05 .cont li .txt{min-height:50px ; margin-top:15px; }
	}
	@media only screen and (max-width:480px) {
		.msec-05 .tits h3{font-size:24px;}
		
		.msec-05 .cont{margin-top:30px;}

		.msec-05 .cont li .user{padding-left:0px; min-height:40px}
		.msec-05 .cont li .user .img{display:none;}

		.msec-05 .cont li .user .nick br{display:none;}
		.msec-05 .cont li .user .nick{font-size:14px;}
	}



/* ======================================================
   .msec-06
=========================================================*/
.msec-06{position:relative;height:550px; background:url(../img/main/msec06-bg.jpg) no-repeat center center; background-size:cover; display:flex;align-items: center; justify-content: center;}
.msec-06 .cont .vc{width:100%;text-align:center;}
.msec-06 .cont h3{font-size:50px; font-weight:800; color:#fff; letter-spacing:-0.03em; line-height:1.3em;}
.msec-06 .cont h3 span{color:#e45536;}
.msec-06 .stxt{font-size:24px; font-weight:600; color:#fff; letter-spacing:-0.03em; line-height:1.5em; margin-top:30px;}
.msec-06 .cont a{margin-top:50px;width:380px;height:66px; display:inline-block;vertical-align:top; line-height:66px; font-size:22px; font-weight:700; color:#1a68fc; letter-spacing:-0.03em; text-align:center; background:#fff; border-radius:10px;}
.msec-06 .cont a span{padding-right:50px; position:relative; display:inline-block;vertical-align:top}
.msec-06 .cont a span:after{width:28px;height:24px; position:absolute; right:0; top:50%; margin-top:-12px; background:url(../img/main/msec08-arrow.png) no-repeat right center; display:block ;content:"";transition:transform 1s cubic-bezier(.33,.02,0,.93)}
.msec-06 .cont a:hover span:after{transform:translateX(7px); background-image:url(../img/main/msec06-arrow.png)}
.msec-06 .cont a:hover{background:#1a68fc; color:#fff}
	@media only screen and (max-width:1240px) {
		.msec-06{height:450px;}
		.msec-06 .cont p{font-size:22px;}
		.msec-06 .cont a{margin-top:40px;width:340px;height:60px;line-height:60px; font-size:20px;}
		.msec-06 .cont a span{padding-right:45px;}
		.msec-06 .cont a span:after{background-size:24px auto;}
		.msec-06 .cont h3{font-size:40px;}
	}
	@media only screen and (max-width:1100px) {
		.msec-06{}
		.msec-06 .cont h3{font-size:30px;}
	}
	@media only screen and (max-width:999px) {
		.msec-06{height:400px;}
		.msec-06 .cont p{font-size:20px;}
		.msec-06 .cont a{margin-top:30px;width:300px;height:55px;line-height:55px; font-size:18px; border-radius:8px;}
		.msec-06 .cont a span{padding-right:40px;}
		.msec-06 .cont a span:after{background-size:22px auto;}
		.msec-06 .cont h3{font-size:30px;}
		.msec-06 .stxt{font-size:20px;}
	}
	@media only screen and (max-width:680px) {
		.msec-06{height:350px;}
		.msec-06 .cont p{font-size:20px;}
		.msec-06 .cont a{width:260px;height:50px;line-height:50px; font-size:16px; border-radius:6px;}
		.msec-06 .cont a span{padding-right:35px;}
		.msec-06 .cont a span:after{background-size:18px auto;}

		.msec-06 .cont h3{font-size:27px;}
		.msec-06 .stxt{font-size:17px;}
	}
	@media only screen and (max-width:480px) {
		.msec-06{height:300px;}
		.msec-06 .cont p{font-size:16px;}
		.msec-06 .cont a{width:220px;height:45px;line-height:45px; font-size:15px; border-radius:4px;}
		.msec-06 .cont a span{padding-right:30px;}
		.msec-06 .cont a span:after{background-size:16px auto;}

		.msec-06 .cont h3{font-size:24px;}
		.msec-06 .stxt{font-size:15px; margin-top:20px;}
	}



/* ======================================================
   .msec-07
=========================================================*/
.msec-07{padding:150px 0px; position:relative; height:500px;}
.msec-07:after{background:#f9f9f9; position:absolute; left:50%; width:20000px; top:0 ; height:100%; z-index:-1; display:block ;content:""; z-index:-1; margin-left:-10000px;}
.msec-07 .cont{max-width:1240px; margin:0 auto; padding:0 20px; box-sizing:border-box;}
.msec-07 .cont:after{display:block; content:"";clear:both}
.msec-07 .fl{float:left; width:60%;}
.msec-07 .fr{float:right; width:40%;position:relative;}

.msec-07 .fl .btxt{font-size:44px; font-weight:700; color:#000; letter-spacing:-0.03em; line-height:1.2em;}
.msec-07 .fl .btxt span{color:#e45536;}
.msec-07 .fl .stxt{font-size:20px; font-weight:400; color:#555; letter-spacing:-0.03em; line-height:1.3em; margin-top:30px;}

.msec-07 .fl a{margin-top:65px;width:280px;height:66px; display:inline-block;vertical-align:top; line-height:64px; font-size:22px; font-weight:700; color:#1a68fc;border:1px solid #1a68fc; box-sizing:border-box;letter-spacing:-0.03em; text-align:center; background:#fff; border-radius:10px;}
.msec-07 .fl a span{padding-right:50px; position:relative; display:inline-block;vertical-align:top}
.msec-07 .fl a span:after{width:28px;height:24px; position:absolute; right:0; top:50%; margin-top:-12px; background:url(../img/main/msec08-arrow.png) no-repeat right center; display:block ;content:"";transition:transform 1s cubic-bezier(.33,.02,0,.93)}
.msec-07 .fl a:hover span:after{transform:translateX(7px);background-image:url(../img/main/msec06-arrow.png)}
.msec-07 .fl a:hover{background:#1a68fc; color:#fff;}

.msec-07 .fr .img{position:absolute;right:0; top:0; width:450px; /*border-radius:100px; overflow:hidden; box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.15); -webkit-box-shadow:3px 6px 20px rgba(0, 0, 0, 0.15); -moz-box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.15);*/}
.msec-07 .fr .img img{width:100%;}
	@media only screen and (max-width:1240px) {	
		.msec-07{padding:80px 0px; height:400px;}
		.msec-07 .fl .btxt{font-size:30px;}
		.msec-07 .fl .stxt{font-size:19px; margin-top:25px;}

		.msec-07 .fl a{margin-top:55px;width:260px;height:60px;line-height:60px; font-size:20px;}
		.msec-07 .fl a span{padding-right:45px;}
		.msec-07 .fl a span:after{background-size:24px auto;}

		.msec-07 .fr .img{width:300px; border-radius:90px;}
	}
	@media only screen and (max-width:1100px) {
		.msec-07 .fr .img{width:300px; }
	}
	@media only screen and (max-width:999px) {

		.msec-07{padding:80px 0px 10px; height:300px;}
		.msec-07 .fl .btxt{font-size:28px;}
		.msec-07 .fl .stxt{font-size:20px; margin-top:20px;}
		.msec-07 .fl .stxt br{display:none;}

		.msec-07 .fl a{margin-top:45px;width:230px;height:55px;line-height:55px; font-size:18px; border-radius:8px;}
		.msec-07 .fl a span{padding-right:40px;}
		.msec-07 .fl a span:after{background-size:22px auto;}

		.msec-07 .fr .img{width:220px; border-radius:70px;}
	}
	@media only screen and (max-width:680px) {	
		.msec-07 .fl{float:none; width:auto; margin-top:30px;text-align:center;}
		.msec-07 .fr{float:none; width:auto;position:relative; text-align:center;}

		.msec-07 .fl .btxt{font-size:24px;}
		.msec-07 .fl .stxt{font-size:18px; margin-top:15px;}

		.msec-07 .fl a{margin-top:35px;width:200px;height:50px;line-height:50px; font-size:16px; border-radius:6px;}
		.msec-07 .fl a span{padding-right:35px;}
		.msec-07 .fl a span:after{background-size:18px auto;}

		.msec-07 .fr .img{width:60%;max-width:200px; position:relative; right:auto; top:auto; display:inline-block;vertical-align:top;}
		.msec-07 .fr .img img{}

		.msec-07{padding:50px 0px;  height:auto;}
	}
	@media only screen and (max-width:480px) {
		.msec-07 .fl .btxt{font-size:20px;}
		.msec-07 .fl .stxt{font-size:16px; margin-top:20px;}
		
		.msec-07 .fl a{height:45px;line-height:45px; font-size:15px; border-radius:4px;}
		.msec-07 .fl a span{padding-right:30px;}
		.msec-07 .fl a span:after{background-size:16px auto;}
	}



/* ======================================================
   .msec-08
=========================================================*/
.msec-08{position:relative; }
.msec-08 .cont{ height:500px; background:#4b7bf8 url(../img/main/msec08-bg.png) no-repeat center center; background-size:cover; display:flex;align-items: center; justify-content: center;}
.msec-08 .cont .vc{width:100%;text-align:center; box-sizing:border-box; padding:0 20px;}
.msec-08 .cont .btxt{font-size:27px; font-weight:700; color:#fff; letter-spacing:-0.03em; line-height:1.3em; padding-top: 130px;  background: url(../img/main/msec08-img01.png) no-repeat center top;}
.msec-08 .cont .stxt{margin-top:22px;font-size:20px; font-weight:600; color:#fff; letter-spacing:-0.03em; line-height:1.2em;}
.msec-08 .cont a{margin-top:35px;width:250px;height:70px; display:inline-block;vertical-align:top; line-height:70px; font-size:33px; font-weight:700; color:#e45536; letter-spacing:-0.03em; text-align:center; background:#fff; border-radius:70px; }
.msec-08 .cont a span{ position:relative; display:inline-block;vertical-align:top}
.msec-08 .cont a span:after{width:28px;height:24px; position:absolute; right:0; top:50%; margin-top:-12px; background:url(../img/main/msec08-arrow.png) no-repeat right center; display:block ;content:"";transition:transform 1s cubic-bezier(.33,.02,0,.93)}
.msec-08 .cont a:hover span:after{transform:translateX(7px);background-image:url(../img/main/msec06-arrow.png)}
.msec-08 .cont a:hover{background:#e45536;  color:#fff;}
	@media only screen and (max-width:1240px) {	
		.msec-08{}
		.msec-08 .cont{ height:400px; }
		.msec-08 .cont .btxt{font-size:24px;}
		.msec-08 .cont .stxt{margin-top:20px;font-size:18px;}
		.msec-08 .cont a{margin-top:20px;width:200px;height:60px;line-height:60px; font-size:24px;}

	}
	@media only screen and (max-width:1100px) {
		.msec-08{}
	}
	@media only screen and (max-width:999px) {
		.msec-08{}
		.msec-08 .cont{padding:50px 0; height:auto;}
		.msec-08 .cont .btxt{font-size:22px;}
		.msec-08 .cont .stxt{margin-top:17px;font-size:16px;}
		.msec-08 .cont a{margin-top:30px;width:230px;height:55px;line-height:55px; font-size:20px; border-radius:55px;}

	}
	@media only screen and (max-width:680px) {
		.msec-08{}
		.msec-08 .cont{padding:50px 0;}
		.msec-08 .cont .btxt{font-size:20px;}
		.msec-08 .cont .stxt{margin-top:12px;font-size:15px;}
		.msec-08 .cont a{width:150px;height:50px;line-height:50px; font-size:18px; border-radius:50px;}

	}
	@media only screen and (max-width:480px) {
		.msec-08 .cont{padding:50px 0;}
		.msec-08 .cont .btxt{font-size:20px;}
		.msec-08 .cont .stxt{margin-top:10px;font-size:14px;}
		.msec-08 .cont a{height:45px;line-height:45px; font-size:18px; border-radius:45px;}
		.msec-08 .cont a span{}
	}


/* ======================================================
   .msec-09
=========================================================*/

.msec-09{position:relative; padding:100px 0px; width:690px; margin:0 auto;}

.msec-09 h3{padding-left:40px; font-size:22px; color:#111; letter-spacing:-0.03em; font-weight:700; margin-bottom:25px; background:url(../img/sub/ico-guide.png) no-repeat; line-height:30px;}
.msec-09 .btxt{font-size:17px; color:#111; letter-spacing:-0.03em; font-weight:700; margin-top:30px; line-height:43px;}
.msec-09 .stxt{font-size:15px; color:#111; letter-spacing:-0.03em; font-weight:400; line-height:24px;}
.msec-09 .stxt span{ color:#e45536; font-weight:500;}
.msec-09 ul{}
.msec-09 li{position:relative; padding-left:12px; font-size:14px ;color:#555; letter-spacing:-0.03em; line-height:1.4em;}
.msec-09 li:before{position:absolute;left:0; top:7px; line-height:1em; background:#333; width:3px;height:3px;border-radius:100%; display:block; content:""}
.msec-09 li:nth-child(n+2){margin-top:7px}
	@media only screen and (max-width:1240px) {
		.msec-09{padding:50px 30px;}
		.msec-09 h3{font-size:24px; background-size:36px; line-height:36px; padding-left:48px;}
		.msec-09 li{font-size:16px;}
		.msec-09 li:before{top:9px;}
	} 
	@media only screen and (max-width:999px) {
	
		.msec-09{padding:40px 30px;}
		.msec-09 h3{font-size:21px; background-size:30px; line-height:30px; padding-left:42px; margin-bottom:20px;}
		.msec-09 li{font-size:15px;}
		.msec-09 li:before{top:8px;}
	} 
	@media only screen and (max-width:680px) {
		.msec-09{padding:40px 15px;}
		.msec-09 .stxt{font-size:13px; line-height:20px;}
		.msec-09 .btxt{font-size:14px; margin-top:20px; line-height:30px;}
		.msec-09 li{font-size:13px;}
		.msec-09 h3{padding-left:30px; font-size:16px; margin-bottom:20px; background:url(../img/sub/ico-guide.png) no-repeat;  background-size: 20px 20px; line-height:20px;}

		.msec-09{width:auto; }
	} 
	@media only screen and (max-width:480px) {
		
		
		
	} 


