@charset "utf-8";
i, em{font-style:normal}
.owl-item {float:left;}
.owl-carousel .owl-wrapper {display: none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.owl-stage-outer{overflow:hidden;}
.owl-stage:after{display:block; content:"";clear:both;}
.owl-stage-outer:after{display:block; content:"";clear:both;}
.disabled{display:none}



/*=======================================================
  skipNavi
=========================================================*/
#skipNavi {height:0;}
#skipNavi .skipLink {position:absolute;top:-1000px;left:-1000px;overflow:hidden;z-index:5000;}
#skipNavi .skipLink:focus, #skipNavi .skipLink:active {top:0;left:0;padding:10px 20px;background:#1e64ba;color:#fff;}

/*=======================================================
  scrollbar
=========================================================*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(238, 238, 238, 1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-image: url("../img/thumb.png");
    border-radius: 10px;
}

/*=======================================================
  input & select
=========================================================*/
.field{display:inline-block;vertical-align:top; font-size:0;box-sizing:border-box; position:relative;}
.field:after{display:block;content:"";clear:both}
.field.choice{}
.field.choice .chk-radio:nth-child(n+2){margin-left:35px;}
.field.choice .chk-check:nth-child(n+2){margin-left:35px;}
	@media only screen and (max-width:999px){
		.field.choice .chk-radio:nth-child(n+2){margin-left:20px;}
		.field.choice .chk-check:nth-child(n+2){margin-left:20px;}
	}

.chk-input {display:inline-block; vertical-align:top; position:relative; box-sizing:border-box;}
.chk-input input{height:48px; letter-spacing:-0.03em; border:1px solid #ddd; border-radius:5px; background:#fff; color:#666; padding:0 20px;font-size:16px; box-sizing:border-box; display:block; width:100%; position:relative;}
.chk-input.readonly input{background:#fafafa;}
.chk-input.active input{color:#000;}
.chk-input input:focus{color:#000}
.chk-input textarea{height:150px; letter-spacing:-0.03em; border:1px solid #ddd; background:#fff; color:#666; padding:20px;font-size:16px; box-sizing:border-box; display:block; width:100%; position:relative; resize:none;}
	@media only screen and (max-width:1200px){
		.chk-input input{font-size:15px;}
		.chk-input textarea{font-size:15px;}
	}
	@media only screen and (max-width:999px){
		.chk-input input{font-size:14px; padding:0 15px; height:45px;}
		.chk-input textarea{font-size:14px; padding:15px;}
	}
	@media only screen and (max-width:680px){
		.chk-input input{height:40px}
	}
	@media only screen and (max-width:480px){
		
	}

	
.chk-select{position:relative; box-sizing:border-box;display:inline-block; border-radius:5px; border:1px solid #ddd;background:#fff;vertical-align:top; width:100% }
.chk-select:after{background:url(../img/sub/select-arrow.jpg) no-repeat center center; background-size:8px auto;position:absolute; width:16px; height:30px; margin-top:-15px; right:10px; top:50%; display:block; content:""; z-index:3}
.chk-select select{font-size:16px; border:none; background:none; border-radius:5px; width:100%; height:48px; color:#666; box-sizing:border-box; padding:0 30px 0 10px; -webkit-appearance:none; -moz-appearance:none;appearance:none; margin:0;  position:relative; z-index:5; cursor:pointer;}
.chk-select select::-ms-expand{display:none;}
.chk-select.active select{color:#000;}
	@media only screen and (max-width:1200px){
		
	}
	@media only screen and (max-width:999px){
		.chk-select select{font-size:15px; height:45px;}
	}
	@media only screen and (max-width:680px){
		.chk-select select{font-size:13px; height:40px;letter-spacing:-0.05em;}
	}
	@media only screen and (max-width:480px){
		
	}
	

.chk-radio {display:inline-block; font-size:0px; vertical-align:middle; line-height:120%; color:#000;}
.chk-radio input[type="radio"]{position: absolute; width:1px; height:1px; padding: 0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border: 0; }
.chk-radio input[type="radio"] + label{display:block; position: relative; padding-left:34px; font-size:16px; color:#1e1e1e; line-height:24px; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.chk-radio input[type="radio"] + label:before { content:''; position: absolute; left:0; top:0px; width:24px; height:24px; text-align:center; background:#fff; border:2px solid #cecece; border-radius:100%; box-sizing:border-box; }
.chk-radio input[type="radio"] + label:after { content:''; position:absolute; top:6px; left:6px; width:12px; height:12px; background:#efefef; border-radius:100%; }
.chk-radio input[type="radio"]:checked + label:after {background:#1b9c9e; }
.chk-radio input[type="radio"]:checked + label:before{border-color:#1b9c9e;}

.chk-check{display:inline-block; font-size:0; vertical-align:top; }
.chk-check input[type="checkbox"]{position: absolute; width:1px; height: 1px; padding: 0; margin:-1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.chk-check input[type="checkbox"] + label{display:block; position:relative; padding-left:30px; font-size:18px; line-height:20px; color:#333; font-weight:400; letter-spacing:-0.02em; cursor:pointer;}
.chk-check input[type="checkbox"] + label:before{content:''; position: absolute; left:0px; top:0px; box-sizing:border-box;width:20px; height:20px; text-align:center; background:#fff;  border:1px solid #333;  }
.chk-check input[type="checkbox"]:checked + label{color:#333;}
.chk-check input[type="checkbox"]:checked + label:before{background:url(../img/sub/check-on.png) no-repeat center #fff;background-size:70% auto}
	@media only screen and (max-width:999px){
		.chk-radio input[type="radio"] + label{font-size:15px; line-height:20px; padding-left:28px;}
		.chk-radio input[type="radio"] + label:before{width:20px;height:20px;}
		.chk-radio input[type="radio"] + label:after{left:5px;top:5px;width:10px;height:10px;}

		.chk-check input[type="checkbox"] + label{font-size:15px; line-height:20px; padding-left:28px;}
		.chk-check input[type="checkbox"] + label:before{width:18px;height:18px; top:1px;}
	}
	@media only screen and (max-width:680px){
		
	}
	@media only screen and (max-width:480px){
		
	}
	
.file-info{padding-left:123px; position:relative;max-width:435px; box-sizing:border-box;}
.file-info input[type="file"]{display:none;}
.file-info .chk-input{display:block;width:100%; box-sizing:border-box;}
.file-info .chk-input input{height:50px;}
.file-info .chk-input.active{ }
.file-info.active label{display:none}
.file-info.active .file-delete{display:block;}
.file-info label{position:absolute;font-weight:400; left:0; top:0;display:block; font-size:16px; letter-spacing:-0.03em; line-height:48px;background:#fff; border:1px solid #333; min-width:124px; color:#444;text-align:center;}
.file-info .file-delete{position:absolute;font-weight:400; left:0; top:0;display:none; font-size:16px; letter-spacing:-0.03em; line-height:48px; background:#f2f2f2;border:1px solid #1e1e1e; min-width:124px; color:#111;text-align:center;}
	@media only screen and (max-width:999px){
		.file-info{padding-left:103px;}
		.file-info label{min-width:104px; font-size:15px;}
		.file-info .file-delete{min-width:104px; font-size:15px;}
	}
	@media only screen and (max-width:680px){
		.file-info{padding-left:83px;}
		.file-info .chk-input input{height:45px;}
		.file-info label{min-width:84px; font-size:14px; line-height:43px;}
		.file-info .file-delete{min-width:84px; font-size:14px;; line-height:43px;}
	}
	@media only screen and (max-width:480px){
		
	}




/*===========================================
.layer-wrap.provision
=============================================*/
.layer-wrap.provision{min-width:360px;position:fixed; background:#fff; width:100%; border-radius: 30px 30px 40px 40px; max-width:640px;left:-9999em !important; top:50%  !important;-webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%);  -ms-transform: translate(-50%, -50%);  -o-transform: translate(-50%, -50%);  transform: translate(-50%, -50%);}
.layer-wrap.provision.active{left:50% !important;}
.layer-wrap.provision .is-top{ padding:30px 30px 10px 30px;position:relative;}
.layer-wrap.provision .is-top h2{font-size:24px; font-weight:400; color:#333; line-height:1.2em; letter-spacing:-0.03em;}
.layer-wrap.provision .is-top .close{position:absolute;z-index:2599; width:30px; height:30px; background:url(../img/layout/bt-mnclose.png) no-repeat center center; background-size:24px auto;right:25px;top:25px;  -webkit-transition: transform 0.3s ease-in-out;-moz-transition: transform 0.3s ease-in-out;-o-transition: transform 0.3s ease-in-out;transition: transform 0.3s ease-in-out;}
.layer-wrap.provision .is-top .close:hover{transform: scale(1,1) rotate(90deg)skew(0,0) translate(0,0); -webkit-transform: scale(1,1) rotate(90deg)skew(0,0) translate(0,0); -moz-transform: scale(1,1) rotate(90deg)skew(0,0) translate(0,0); }

.layer-wrap.provision .is-con{padding:0 0 0 0; position:relative;}
.layer-wrap.provision .is-con .r{padding:0 30px;margin-bottom:20px;}
.layer-wrap.provision .is-con .scrolls{ overflow-y:scroll ; height:400px; padding:10px 60px 0px;}
.layer-wrap.provision .is-con .scrolls h4{margin-top:50px; color:#333; ;font-size:17px;line-height:18px; }
.layer-wrap.provision .is-con .scrolls h5{margin-top:20px;font-size:17px;line-height:18px; color:#333;}
.layer-wrap.provision .is-con .scrolls p{margin:-4px 0; font-size:15px; line-height:1.5em;}
.layer-wrap.provision .is-con .scrolls li{margin:10px 0 -4px 0;}
.layer-wrap.provision .is-con .scrolls li > ul > li{margin-top:12px;}
.layer-wrap.provision .is-con .scrolls ul + p,
.layer-wrap.provision .is-con .scrolls p + p{margin-top:46px;}
.layer-wrap.provision .is-con .scrolls .table{width:100%;margin-top:10px;border-top:1px solid #ddd;}
.layer-wrap.provision .is-con .scrolls .table th,
.layer-wrap.provision .is-con .scrolls .table td{font-size:14px;font-weight:300;color:#666;border-bottom:1px solid #ddd;text-align:center;}
.layer-wrap.provision .is-con .scrolls .table th{padding:10px 10px;background-color:#f7f7f7;color:#333;}
.layer-wrap.provision .is-con .scrolls .table td{padding:10px 10px;}

.layer-wrap.provision .abr{width:200px;height:50px; display:inline-block;vertical-align:top;text-align:left; position:relative;}
.layer-wrap.provision .abr .sel{display:block; position:relative;line-height:50px; padding:0 30px 0 15px; font-size:14px; color:#333;border-bottom:1px solid #dedede;}
.layer-wrap.provision .abr .sel:after{width:11px;height:6px; position:Absolute;right:12px; top:25px; background:url(../img/sub/sel-down.png) no-repeat center center; display:block; content:"";}
.layer-wrap.provision .abr.active .sel:after{transform: scale(1,1) rotate(180deg)skew(0,0) translate(0,0);-webkit-transform: scale(1,1) rotate(180deg)skew(0,0) translate(0,0); -moz-transform: scale(1,1) rotate(180deg)skew(0,0) translate(0,0);  }
.layer-wrap.provision .abr ul{position:absolute; right:0; top:50px; width:100%;background:#fff; border:1px solid #dedede; box-sizing:border-box;display:none;}
.layer-wrap.provision .abr li{}
.layer-wrap.provision .abr li:nth-child(n+2){margin-top:7px;}
.layer-wrap.provision .abr li a{font-size:14px; color:#666; line-height:1.2em; display:block; padding:14px 15px}
.layer-wrap.provision .abr li a:hover{color:#333;}

.layer-wrap.provision .is-btm{  }
.layer-wrap.provision .is-btm a{line-height:65px; text-align:center; display:block; font-size:17px;}
.layer-wrap.provision .is-btm .enter{background:#aaa;color:#fff; border-radius:0px 0px 30px 30px;}
.layer-wrap.provision .is-btm .enter:hover{background:#777}
	@media all and (max-width:640px) {
		.layer-wrap.provision{width:100%; top:0 !important; height:100%;-webkit-transform: translate(0); -moz-transform: translate(0);  -ms-transform: translate(0);  -o-transform: translate(0);  transform: translate(0);}
		.layer-wrap.provision.active{left:0 !important;}
		.layer-wrap.provision .is-top{ padding:20px 20px 10px 20px;}
		.layer-wrap.provision .is-top h2{font-size:19px;font-weight:700} 
		.layer-wrap.provision .is-top .close{ background-size:20px auto; right:17px; top:17px}
		.layer-wrap.provision .is-con{padding:0 0 20px 0;}
		
		.layer-wrap.provision .is-con .scrolls{padding: 20px; }
		.layer-wrap.provision .is-con .scrolls h4{font-size:16px}
		.layer-wrap.provision .is-con .scrolls h5{font-size:16px}
		.layer-wrap.provision .is-con .scrolls p{font-size:14px;}
		.layer-wrap.provision .is-con .scrolls .table td{font-size:13px;}

		.layer-wrap.provision .is-btm{position:absolute; left:0; bottom:0; width:100%;}
		.layer-wrap.provision .is-btm a{line-height:55px; font-size:16px;}
	}


/*===========================================
   scrolls
=============================================*/
.layer-wrap .scrolls {overflow-x:hidden; box-sizing:border-box;}
.nicescroll-rails{padding-right:0px;display:block; ; border-radius:0;margin-left:-4px; opacity:1 !important}
.nicescroll-cursors {margin-right:0; border:none !important;cursor:pointer; margin-right:0;}
.nicescroll-rails .nicescroll-cursors{border:1px solid #fafafa !important; box-sizing:border-box;margin-right:-1px; }
.nicescroll-rails-hr{display:none !Important;}
