

/*========================================================
 Slick Slider
========================================================*/
/**** Base ****/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:0}
.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,
.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}
.slick-track:after,
.slick-track:before{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir=rtl] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}
.slick-arrow.slick-hidden{display:none}
/* custom */
.slick-list,.slick-track,.slick-slide > div{position:relative; height:100%;}

/**** Arrows ****/
.slick-prev,
.slick-next{font-size:0; line-height:0; position:absolute; top:45%; display:block; padding:0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor:pointer; border:none; outline:none; background:transparent; z-index:2;}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{color:transparent; outline:none; background:transparent;}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{opacity:1;}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{opacity: .25;}
.slick-prev:before,
.slick-next:before,
.slick-prev:after,
.slick-next:after{font-size:20px; line-height: 1; color:white;}
.slick-prev{left:20px;}
.slick-next{right:20px;}
.slick-next:before{content: '';}
.slick-prev:before{content: '';}
/* slick-arrow */
.slick-arrow{position:absolute; display:inline-block; width:36px; height:70px; transition:.2s; -webkit-transition: .2s; transform:translate(0,0); -webkit-transform:translate(0,0);}
.slick-arrow:after,
.slick-arrow:before{position:absolute; display:block; content:''; background-color:#fff; }
/* right */
.slick-arrow.slick-next:before{top:-1px; left:50%; width:2px; height:59.45%; transform:rotate(135deg);}
.slick-arrow.slick-next:after{bottom:0; left:50%; width:2px; height:59.45%; transform:rotate(-135deg);}
/* before */
.slick-arrow.slick-prev:before{top:-1px; left:50%; width:2px; height:59.45%; transform:rotate(-135deg);}
.slick-arrow.slick-prev:after{bottom:0; left:50%;width:2px; height:59.45%;  transform:rotate(135deg);}
/* layer-set-3  arrow */
.layer-set-3 .slick-arrow{transform:translate(0,-50%); -webkit-transform:translate(0,-50%); margin-top:40px;}
.layer-set-3 .slick-arrow:after,
.layer-set-3 .slick-arrow:before{background-color:#2f353d;}

/**** Dots ****/
.slick-dotted.slick-slider{}
.slick-dots{display:block; width:auto; vertical-align:top; padding:0; margin:0; list-style:none; text-align:center;}
.slick-dots li{position:relative; display:inline-block; vertical-align:middle; width:18px; height:18px; padding:0; margin:0 2px; cursor:pointer;}
.slick-dots li button{font-size:0; line-height: 0; display:block; width:100%; height:100%; padding:0; cursor:pointer; color:transparent; border:0; outline:none; background:transparent;}
.slick-dots li button:hover,
.slick-dots li button:focus{outline: none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{display:block; content:''; position:absolute; top:50%; left:50%; width:10px; height:10px; border-radius:50%; background:#6f6f75; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); transition:.3s; -webkit-transition:.3s;}
.slick-dots li button:after{display:block; content:''; position:absolute; top:0; left:0; border:2px solid transparent; border-radius:50%; width:100%; height:100%; transition:.3s; -webkit-transition:.3s; box-sizing:border-box;}
.slick-dots li.slick-active button:before{background:#e75300;}
.slick-dots li.slick-active button:after{border:2px solid #e75300;}
/* slide-dots-area */
.slide-dots-area{position:absolute; bottom:0; right:0; width:100%; padding:0 20px; text-align:right}
.slide-dots-area .slick-dots{display:inline-block;}
.slide-dots-area .slick-func{display:inline-block; height:100%; vertical-align: middle;}
/* �뺤�/�뚮젅�� */
.slide-dots-area .slick-dots + .slick-func{margin-left:5px;}
.slide-dots-area .btn-slick-func{position:relative; display:inline-block; width:8px; height:10px; text-align:left}
.slide-dots-area .btn-slick-func.pause:after{display:inline-block; position:relative; content:''; width:2px; height:100%; background:#6f6f75; margin-left:2px;}
.slide-dots-area .btn-slick-func.pause:before{display:inline-block; position:relative; content:''; width:2px; height:100%; background:#6f6f75}
.slide-dots-area .btn-slick-func.play:after{display:block; position:absolute; top:-1px; right:0; content: ''; background:none; border:solid #6f6f75; border-width:6px 0 6px 9px; border-top-color: transparent; border-bottom-color:transparent;}
.slide-dots-area .btn-slick-func.play:before{content:none;}

/**** layerd-slider ****/
/* 湲곕낯 �곸뿭 */
.layerd-slider{height:480px; transition:.3s; -webkit-transition:.3s}
/*.layerd-slider .slick-list{padding-top:56px !important; padding-bottom:0 !important;}*/
.layerd-slider .slick-slide{position:relative; transition:.3s; -webkit-transition:.3s;}
.layerd-slider .slick-slide > div{overflow:visible;}
.layerd-slider .slick-slide > div .list-item{position:absolute; top:0; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); width:850px !important; height:480px}
.layerd-slider .slick-slide .list-item .inner{position:relative; width:100%; height:100%; overflow:hidden;}
.layerd-slider .slick-slide .list-item .inner:after{display:block; content:''; position:absolute; top:-2px; left:0; width:100%; height:calc(100% + 4px); background:rgba(0,0,0,.5);}
/* z-index */
.layerd-slider .slick-active.slick-current + .slick-slide + .slick-slide{z-index:1;}
.layerd-slider .slick-active.slick-current + .slick-slide,
.layerd-slider .slick-current + .slick-cloned {z-index:2;}
.layerd-slider .slick-current{z-index: 3;}
/* �ш린 */
.layerd-slider .slick-slide:not(.slick-current),
.layerd-slider .slick-active.slick-current + .slick-slide:not(.next-layerd) + .slick-slide{transform:scale(.64); -webkit-transform:scale(.64); transition:.3s; -webkit-transition:.3s}
.layerd-slider .slick-slide.slick-cloned + .slick-slide.slick-active:not(.slick-current),
.layerd-slider .slick-slide:not(.slick-cloned) + .slick-slide.slick-active:not(.slick-current),
.layerd-slider .slick-current + .slick-slide.slick-active{transform:scale(.8); -webkit-transform:scale(.8);}
.layerd-slider .slick-slide.slick-current:not(.slick-cloned){transform:scale(1);-webkit-transform:scale(1); z-index:10; padding:0;}
.layerd-slider .prev-layerd.slick-center{z-index:10; transform:scale(.8); -webkit-transform:scale(.8);}
.layerd-slider .next-layerd.slick-center{z-index:10; transform:scale(.8); -webkit-transform:scale(.8);}

/**** layerd-slider - youtube ****/
.slick-slide .list-item .inner .video-area{position:absolute; top:0; left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%); height:100%; width:100%; background-color:#000;}
/* �쒖꽦�� */
.layerd-slider .slick-slide.slick-current .list-item .inner:after{content:none}
.layerd-slider .slick-slide.slick-current .video-area .video-tit{display:block; width:100%; padding:0 40px; }
.layerd-slider .slick-slide.slick-current .video-area .btn-video-play{display:block; z-index:100;}
.layerd-slider .slick-slide.slick-current .video-area.on .btn-video-play{display:none;}
/* scale�� �곕Ⅸ �고듃 諛� 踰꾪듉 �ъ씠利� 議곗젙 */
.layerd-slider .slick-slide.slick-current .video-area .video-tit{padding:0 20px; font-size:16px; padding:0 20px; bottom:20px;}

/**** 鍮꾨뵒�� �곸뿭 怨듯넻 ****/
.video-area{position:relative;}
.video-area .video-cover{position:relative; display:block; width:100%; height:100%; transition:.3s; -webkit-transition:.3s; opacity:1; overflow:hidden; /*overflow:visible*/}
.video-area .video-cover img{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); width:100%; max-width:none;/*height:100%; max-width:none;*/}
/* �덉쇅(硫붿씤) */
.video-area .video-tit{display:none; position:absolute; left:0; bottom:40px; font-size:20px; color:#fff;}
.video-area .btn-video-play{display:none; position:absolute; top:0; left:0; width:100%; height:100%;}
.video-area iframe{position:absolute; top:0; left:0; width:100%; height: 100%;}
.video-area .btn-video-close{display:none; position:absolute; top:0; right:10px; -webkit-animation:videobtn .3s; animation:videobtn .3s}
.video-area.on .btn-video-close{display:block; top:-30px;}
.video-area.on .video-cover{opacity:0}
/* �リ린踰꾪듉 而щ윭 */
.layerd-slider.layer-set-3 .video-area.on .ico-close:before, 
.layerd-slider.layer-set-3 .video-area.on .ico-close:after{background: #000;}

/**** layerd-slider - 3媛쒖쭨由� ****/
.layerd-slider.layer-set-3{height:706px;}
.layerd-slider.layer-set-3 .slick-slide{width:auto; max-width:756px; min-width:400px}
.layerd-slider.layer-set-3 .slick-slide > div .list-item{width:940px !important; overflow:hidden;}
.layerd-slider.layer-set-3 .slick-slide > div .list-item.video{overflow:visible;}
.layerd-slider.layer-set-3 .slick-slide .list-item .inner:after{background: rgba(255,255,255,.75);}
.layerd-slider.layer-set-3 .slick-slide .list-item .inner > img{max-width:none; height:100%; position:relative; left:50%; transform: translateX(-50%); -webkit-transform: translateX(-50%);}
/* �ш린 */
.layerd-slider.layer-set-3 .slick-slide,
.layerd-slider.layer-set-3 .slick-active.slick-current + .slick-slide + .slick-slide{transform:scale(.8); -webkit-transform:scale(.8);}
.layerd-slider.layer-set-3 .slick-slide.slick-current{transform:scale(1);-webkit-transform:scale(1); z-index:10; padding:0;}

@keyframes videobtn {
   0% {top:0; opacity:0;}
   100% {top:-30px; opacity:1;}
} 

@media screen and (max-width:1340px){
	/**** Arrows ****/
	.slick-prev{left:40px;}
	.slick-next{right:40px;}		
}

@media screen and (max-width:1024px){ 
	/**** Dots ****/
	/* slide-dots-area */
	.slide-dots-area{bottom:-50px;}

	/**** layerd-slider ****/
	/* 湲곕낯 �곸뿭 */
	.layerd-slider .slick-list{padding-top:45px !important; padding-bottom:16px !important;}
	.layerd-slider .slick-slide > div .list-item{position:static; left:0; transform:none; -webkit-transform:none; width:100% !important;}
	/* layerd-slider - youtube */
	.layerd-slider .slick-slide.slick-current{transform:none; -webkit-transform:none;}
	.layerd-slider .slick-slide.slick-current .list-item .inner .video-area{left:0; transform:none; height:100%; width:100%; overflow:visible;}

	/* �ш린 */
	.layerd-slider .slick-slide:not(.slick-current),
	.layerd-slider .slick-active.slick-current + .slick-slide:not(.next-layerd) + .slick-slide,
	.layerd-slider .slick-slide.slick-cloned + .slick-slide.slick-active:not(.slick-current),
	.layerd-slider .slick-slide:not(.slick-cloned) + .slick-slide.slick-active:not(.slick-current),
	.layerd-slider .slick-current + .slick-slide.slick-active,
	.layerd-slider .slick-slide.slick-current,
	.layerd-slider .prev-layerd.slick-center,
	.layerd-slider .next-layerd.slick-center{transform:none; -webkit-transform:none;}

	/* scale�� �곕Ⅸ �고듃 諛� 踰꾪듉 �ъ씠利� */
	.layerd-slider .slick-slide.slick-current .video-area .video-tit{font-size:16px; padding:0 15px; bottom:15px;}

	/**** layerd-slider - 3媛쒖쭨由� ****/
	.layerd-slider.layer-set-3{height:auto;}
	.layerd-slider.layer-set-3 .slick-list{padding-bottom:16px !important;}
	.layerd-slider.layer-set-3 .slick-slide{width:100%; max-width:none; min-width:auto}
	.layerd-slider.layer-set-3 .slick-slide.slick-current{transform:none; -webkit-transform:none}
	.layerd-slider.layer-set-3 .slick-slide .list-item .inner{height:412px;}
	.layerd-slider.layer-set-3 .slick-slide .list-item .inner:after{content:none;}
	.layerd-slider.layer-set-3 .slick-slide > div .list-item{width:100% !important;}
	/* �ш린 */
	.layerd-slider.layer-set-3 .slick-slide,
	.layerd-slider.layer-set-3 .slick-active.slick-current + .slick-slide + .slick-slide,
	.layerd-slider.layer-set-3 .slick-slide.slick-current{transform:none; -webkit-transform:none;}

	/**** 鍮꾨뵒�� �곸뿭 怨듯넻 ****/
	.video-area .btn-video-close{right:20px;}
	.video-area .video-cover{overflow:hidden}
}

@media screen and (max-width:768px){
	/**** layerd-slider ****/ 
	/* 湲곕낯 �곸뿭 */
	.layerd-slider{height:424px}

	/**** 鍮꾨뵒�� �곸뿭 怨듯넻 ****/
	.video-area .video-cover img{height:auto; max-width:100%}
}

@media screen and (max-width:640px){ 
	/**** 鍮꾨뵒�� �곸뿭 怨듯넻 ****/
	.video-area .video-cover img{height:100%; max-width:none; width:auto;}
}

@media screen and (max-width:480px){ 
	/**** layerd-slider ****/ 
	/* 湲곕낯 �곸뿭 */
	.video-list.layerd-slider{height:266px}
	.layerd-slider .slick-slide.slick-current .video-area .video-tit{padding:0 25px;}

	/**** 鍮꾨뵒�� �곸뿭 怨듯넻 ****/
	.video-area .video-tit{left:0; bottom:25px; font-size:18px;}
	.video-area .ico-play{width:60px; height:60px;}
	.video-area .ico-play:before{border-width:14px 0 14px 18px; margin-top:-14px;}
	.video-area .video-cover img{height:auto; max-width:none; width:100%;}

	/**** layerd-slider - 3媛쒖쭨由� ****/
	.layerd-slider.layer-set-3 .slick-slide .list-item .inner{height:212px;}
}
