@font-face {
  font-family: 'NanumGothicBold';
  src: url('/skins/font/NanumGothicBold.eot');
  src: url('/skins/font/NanumGothicBold.eot?#iefix') format('embedded-opentype'), /* ie 6,7,8 적용 embedded-opentype ie 8,9 적용 */
       url('/skins/font/NanumGothicBold.woff') format('woff'), /* ie 제외한 나머지 */
       url('/skins/font/NanumGothicBold.ttf') format('truetype'),
       url('/skins/font/NanumGothicBold.svg#NanumGothicBold') format('svg'); /*모바일브라우져를 위해서*/
  font-weight: normal;
  font-style: normal;
}