@charset "utf-8";

@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 700;
	src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
	url('/fonts/Gsans/GmarketSansBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/Gsans/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 500;
	src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
	url('/fonts/Gsans/GmarketSansMedium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/Gsans/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'Gmarket Sans';    font-style: normal;    font-weight: 300;
	src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
	url('/fonts/Gsans/GmarketSansLight.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
	url('/fonts/Gsans/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-family: 'NotoT';
    font-weight: 100; 
    font-style: normal; 
    src: url('/fonts/NotoSansKR-Thin.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Thin.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'NotoL';
    font-weight: 300; 
    font-style: normal; 
    src: url('/fonts/NotoSansKR-Light.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Light.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'NotoD';
    font-weight: 400; 
    font-style: normal; 
    src: url('/fonts/NotoSansKR-DemiLight.woff2') format('woff2'),
         url('/fonts/NotoSansKR-DemiLight.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'NotoR';
    font-weight: 500; 
    font-style: normal; 
    src: url('/fonts/NotoSansKR-Regular.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Regular.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'NotoM';
    font-weight: 600; 
    font-style: normal; 
    src: url('/fonts/NotoSansKR-Medium.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Medium.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'NotoB';
    font-weight: 700; 
    font-style: normal; 
    src: url('/fonts/NotoSansKR-Bold.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'NotoBB';
    font-weight: 900; 
    font-style: normal; 
    src: url('/fonts/NotoSansKR-Black.woff2') format('woff2'),
         url('/fonts/NotoSansKR-Black.woff') format('woff');
    font-display: swap;
}

 @font-face {
    font-family: 'esamanru';
    src: url('/fonts/GongGothicOTFBold.woff2') format('woff2'),
        url('/fonts/GongGothicOTFBold.woff') format('woff'),
        url('/fonts/GongGothicOTFBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'esamanru';
    src: url('/fonts/GongGothicOTFMedium.woff2') format('woff2'),
        url('/fonts/GongGothicOTFMedium.woff') format('woff'),
        url('/fonts/GongGothicOTFMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'esamanru';
    src: url('/fonts/esamanruLight.woff2') format('woff2'),
        url('/fonts/esamanruLight.woff') format('woff'),
        url('/fonts/esamanruLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family:'DakiB'; src:url('/fonts/DakiB.eot'); 
	src:url('/fonts/DakiB.woff') format('woff'), 
		url('/fonts/DakiB.ttf') format('truefype');
}
@font-face {
	font-family:'DakiL';
	src:url('/fonts/DakiL.eot'),
		url('/fonts/DakiL.woff') format('woff'),
		url('/fonts/DakiL.ttf') format('truefype');
}
@font-face {
	font-family:'DakiM'; 
	src:url('/fonts/DakiM.eot'), 
		url('/fonts/DakiM.woff') format('woff'), 
		url('/fonts/DakiM.ttf') format('truefype');
}
@font-face{
	font-family:'DakiMTitle';
	src:url('/fonts/DakiMTitle.eot'),
		url('/fonts/DakiMTitle.woff') format('woff'),
		url('/fonts/DakiMTitle.ttf') format('truefype');
}

@font-face {
	font-family: 'Ohsquare';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.eot');
	src: url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.woff2') format('woff2'),
			url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.ttf') format('truetype'),
			url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.woff') format('woff');
}


@font-face {
	font-family: 'NanumSquare';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/NanumSquareOTFR/NanumSquareOTFR.eot');
	src: url('/fonts/NanumSquareOTFR/NanumSquareOTFR.eot?#iefix') format('embedded-opentype'),
			url('/fonts/NanumSquareOTFR/NanumSquareOTFR.woff2') format('woff2'),
			url('/fonts/NanumSquareOTFR/NanumSquareOTFR.ttf') format('truetype'),
			url('/fonts/NanumSquareOTFR/NanumSquareOTFR.woff') format('woff');
}
@font-face{
	font-family: 'TmonMonsori';
	font-style: normal;
	src: url('/fonts/TmonFont/TmonMonsori.woff') format("woff");
	src: url('/fonts/TmonFont/TMONBlack.ttf') format("truetype");
}
@font-face{
	font-family: 'TmonTium';
	font-style: normal;
	src: url('/fonts/TmonFont/TmonTium.woff') format("woff");
	src: url('/fonts/TmonFont/TMONTium.ttf') format("truetype");
}

/* ���̹� ����������  */
@font-face {
 font-family: 'MyWebFont';
 font-weight: 400;
 src: url(/fonts/Arita-Dotum-Medium.eot);
 src: url(/fonts/Arita-Dotum-Medium.eot?#iefix) format('embedded-opentype'),
      url(/fonts/Arita-Dotum-Medium.woff) format('woff'),
      url(/fonts/Arita-Dotum-Medium.ttf) format('truetype');
}
@font-face {
 font-family: 'MyWebFont';
 font-weight: 600;
 src: url(/fonts/Arita-Dotum-SemiBold.eot);
 src: url(/fonts/Arita-Dotum-SemiBold.eot?#iefix) format('embedded-opentype'),
      url(/fonts/Arita-Dotum-SemiBold.woff) format('woff'),
      url(/fonts/Arita-Dotum-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 100; 
    font-style: normal; 
    src: url('/fonts/SCoreDream1.woff2') format('woff2'),
         url('/fonts/SCoreDream1.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 200; 
    font-style: normal; 
    src: url('/fonts/SCoreDream2.woff2') format('woff2'),
         url('/fonts/SCoreDream2.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 300; 
    font-style: normal; 
    src: url('/fonts/SCoreDream3.woff2') format('woff2'),
         url('/fonts/SCoreDream3.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 400; 
    font-style: normal; 
    src: url('/fonts/SCoreDream4.woff2') format('woff2'),
         url('/fonts/SCoreDream4.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 500; 
    font-style: normal; 
    src: url('/fonts/SCoreDream5.woff2') format('woff2'),
         url('/fonts/SCoreDream5.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 600; 
    font-style: normal; 
    src: url('/fonts/SCoreDream6.woff2') format('woff2'),
         url('/fonts/SCoreDream6.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 700; 
    font-style: normal; 
    src: url('/fonts/SCoreDream7.woff2') format('woff2'),
         url('/fonts/SCoreDream7.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 800; 
    font-style: normal; 
    src: url('/fonts/SCoreDream8.woff2') format('woff2'),
         url('/fonts/SCoreDream8.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SCoreDream';
    font-weight: 900; 
    font-style: normal; 
    src: url('/fonts/SCoreDream9.woff2') format('woff2'),
         url('/fonts/SCoreDream9.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(./woff2/Pretendard-Black.woff2) format('woff2'), url(./woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(./woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(./woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(./woff2/Pretendard-Bold.woff2) format('woff2'), url(./woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(./woff2/Pretendard-SemiBold.woff2) format('woff2'), url(./woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(./woff2/Pretendard-Medium.woff2) format('woff2'), url(./woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(./woff2/Pretendard-Regular.woff2) format('woff2'), url(./woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(./woff2/Pretendard-Light.woff2) format('woff2'), url(./woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(./woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(./woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(./woff2/Pretendard-Thin.woff2) format('woff2'), url(./woff/Pretendard-Thin.woff) format('woff');
}

@font-face {
    font-family: 'OhsquareAir_woff';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
	src: url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.eot');
	src: url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.woff2') format('woff2'),
			url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.ttf') format('truetype'),
			url('/fonts/Cafe24Ohsquare/Cafe24Ohsquare.woff') format('woff');
}



@font-face {
    font-family: 'Ssurround_woff';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Cafe24Ssurround-v2.0.woff) ;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OhsquareAir_woff1';
    font-display: swap;
    src: url(../font/Cafe24OhsquareAir-v2.0.woff);
}
@font-face {
    font-family: 'Ssurround_woff1';
    src: url(../font/Cafe24Ssurround-v2.0.woff);
}


@font-face {
    font-family: 'EnvironmentR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/EnvironmentR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'PyeongChang';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'PyeongChang';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChang-Bold.ttf') format("truetype");
    font-display: swap;
} 

@font-face {
    font-family: 'HSBombaram21-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/HSBombaram21-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'G-market';
    src: url(../font/GmarketSansTTFLight.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'G-market-m';
    src: url(../font/GmarketSansTTFMedium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KCC-eunyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EnvironmentR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/EnvironmentR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(./woff2/Pretendard-Black.woff2) format('woff2'), url(./woff/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(./woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(./woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(./woff2/Pretendard-Bold.woff2) format('woff2'), url(./woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(./woff2/Pretendard-SemiBold.woff2) format('woff2'), url(./woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard-500';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(./woff2/Pretendard-Medium.woff2) format('woff2'), url(./woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(./woff2/Pretendard-Regular.woff2) format('woff2'), url(./woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(./woff2/Pretendard-Light.woff2) format('woff2'), url(./woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(./woff2/Pretendard-ExtraLight.woff2) format('woff2'), url(./woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(./woff2/Pretendard-Thin.woff2) format('woff2'), url(./woff/Pretendard-Thin.woff) format('woff');
}

@font-face {
    font-family: 'OhsquareAir_woff';
    src: url(../font/Cafe24OhsquareAir-v2.0.woff);
	font-display: swap;
}
@font-face {
    font-family: 'Ssurround_woff';
    src: url(../font/Cafe24Ssurround-v2.0.woff);
}

@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EnvironmentR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/EnvironmentR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquareair';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ohsquareair-m';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}